.button {
    border-radius: 100px;
    width: 250px;
    height: 50px;
    background: #a5c9fd;
    padding: 10px 24px;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    line-height: 111%;
    letter-spacing: 0.01em;
    text-align: center;
    color: #000;
    border: none;
    cursor: pointer;
}

:root {
    --font-family: "Roboto", sans-serif;
  }
