* {
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.button {
    border-radius: 100px;
    width: 150px;
    height: 50px;
    background: #a5c9fd;
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 111%;
    letter-spacing: 0.01em;
    text-align: center;
    border: none;
    cursor: pointer;
}
